.fade-in {
  animation: fadeIn 1.5s ease-in-out both;
}

.fade-out {
  animation: fadeOut 1.5s ease-in-out both;
}

.slider-button {
  @apply absolute bottom-0 top-0 z-[1] flex w-[10%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition ease-in-out duration-300  hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:outline-none motion-reduce:transition-none
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

